language: c++

#dotnet cli require Ubuntu 14.04
sudo: required
dist: trusty

addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g

os:
  - osx
  - linux

before_install:
  #- if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install icu4c; fi

  # Download script to install dotnet cli
  - curl -L --create-dirs https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/install.sh -o ./scripts/obtain/install.sh
  - find ./scripts -name "*.sh" -exec chmod +x {} \;
  - ./scripts/show-dotnet-info.sh
  - sudo ./scripts/obtain/install.sh --channel "beta" --version "Latest"

script:
  - ./scripts/show-dotnet-info.sh
  # Workaround
  - sudo tar -xvf "./workarounds/1/osx.10.10-x64.zip" -C /usr/local/share/dotnet/cli/
  # Run dotnet new 
  - mkdir -p "test/test-dotnet-new" && pushd "test/test-dotnet-new"
  - dotnet new --lang f#
  - dotnet --verbose restore
  - dotnet --verbose build
  - dotnet --verbose run a b
  - popd
  # Run all tests 
  - ./scripts/run-tests.sh
