language: generic

addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g

matrix:
  include:
    - os: linux # Ubuntu 14.04
      dist: trusty
      sudo: required
      env: DOTNET_SDK_URL=https://go.microsoft.com/fwlink/?LinkID=798405 # v1.0.0-preview1
    - os: osx # OSX 10.11
      osx_image: xcode7.2
      env: DOTNET_SDK_URL=https://go.microsoft.com/fwlink/?LinkID=798404 # v1.0.0-preview1

before install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update               ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install openssl      ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew link --force openssl ; fi

install:
  # Download dotnet sdk and add to PATH
  - export DOTNET_INSTALL_DIR="$PWD/.dotnetcli"
  - mkdir -p "$DOTNET_INSTALL_DIR"
  - curl -L "$DOTNET_SDK_URL" | tar -xzv -C "$DOTNET_INSTALL_DIR"
  - export PATH="$DOTNET_INSTALL_DIR:$PATH"

script:
  # dotnet info
  - dotnet --info
  # Run dotnet new 
  - mkdir -p "test/test-dotnet-new" && pushd "test/test-dotnet-new"
  - dotnet new --lang fsharp
  - dotnet restore
  - dotnet --verbose build
  - dotnet --verbose run a b
  - popd
