language: c++

#dotnet cli require Ubuntu 14.04
sudo: required
dist: trusty

#dotnet cli require OSX 10.10
osx_image: xcode7.1

addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g

os:
  - osx
  - linux

env:
  matrix:
    - CLI_VERSION: 1.0.0.002071
    - CLI_VERSION: Latest

matrix:
  allow_failures:
    - env: CLI_VERSION: Latest
    - os: linux

before_install:
  - find ./scripts -name "*.sh" -exec chmod +x {} \;
  - ./scripts/show-dotnet-info.sh
  #- if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install icu4c; fi

  # Download script to install dotnet cli
  - curl -L --create-dirs https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/install.sh -o ./scripts/obtain/install.sh
  - find ./scripts -name "*.sh" -exec chmod +x {} \;
  - export DOTNET_INSTALL_DIR="$PWD/.dotnetcli"
  # use bash to workaround bug https://github.com/dotnet/cli/issues/1725
  - sudo bash ./scripts/obtain/install.sh --channel "future" --version "$CLI_VERSION" --install-dir "$DOTNET_INSTALL_DIR" --no-path
  # set DOTNET_HOME env var and add dotnet bin to PATH
  - export PATH="$DOTNET_INSTALL_DIR:$PATH"

script:
  - ./scripts/show-dotnet-info.sh
  # Workaround "Too many open files"
  - ulimit -n 1024
  # dotnet info
  - dotnet --info
  # Run dotnet new 
  - mkdir -p "test/test-dotnet-new" && pushd "test/test-dotnet-new"
  - dotnet new --lang f#
  - dotnet restore
  - dotnet --verbose build
  - dotnet --verbose run a b
  - popd
  # Run all tests 
  - ./scripts/run-tests.sh
