os: Visual Studio 2015

environment:
  matrix:
    - CLI_ALIAS: 1.0.0.001461
      CLI_BINARIES_VERSION: 1.0.0.001461
    - CLI_ALIAS: latest
      CLI_BINARIES_VERSION: Latest
    #- CLI_ALIAS: stabledev
    #  CLI_REPO_URL: https://github.com/enricosada/cli/archive/fix_dotnet_compile_fsc.zip
    #- CLI_ALIAS: rel-1.0.0
    #  CLI_REPO_URL: https://github.com/dotnet/cli/archive/rel/1.0.0.zip

install:
  - ps: Write-Host $env:CLI_ALIAS
  - ps: .\scripts\show-dotnet-info.ps1
  - ps: >-
      $root = "$pwd"
      if ($env:CLI_REPO_URL) {
          Write-Host "download and build repo from '$env:CLI_REPO_URL' as '$env:CLI_ALIAS'"
          .\scripts\download-and-build-cli.ps1 -RepoZipUrl "$env:CLI_REPO_URL" -OutDir "$root\.dotnet\$env:CLI_ALIAS"
      } else {
          Write-Host "download binaries '$env:CLI_BINARIES_VERSION' as '$env:CLI_ALIAS'"
          .\scripts\download-cli-binaries.ps1 -OutDir "$root\.dotnet\$env:CLI_ALIAS" -Version "$env:CLI_BINARIES_VERSION" -InstallScriptDir "$root\scripts\obtain"
      }

build_script:
  - ps: .\scripts\show-dotnet-info.ps1
  - ps: .\scripts\run-tests.ps1


test: off 
version: 0.0.1.{build}
