os: Visual Studio 2015

environment:
  matrix:
    - CLI_VERSION: 1.0.0-beta-002071
    - CLI_VERSION: Latest

matrix:
  allow_failures:
    - CLI_VERSION: 1.0.0-beta-002071

install:
  - ps: .\scripts\show-dotnet-info.ps1
  # Download install script to install .NET cli in .dotnet dir
  - ps: mkdir -Force ".\scripts\obtain\" | Out-Null
  - ps: Invoke-WebRequest "https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/install.ps1" -OutFile ".\scripts\obtain\install.ps1"
  - ps: $env:DOTNET_INSTALL_DIR = "$pwd\.dotnetcli"
  - ps: '& .\scripts\obtain\install.ps1 -Channel "preview" -version "$env:CLI_VERSION" -InstallDir "$env:DOTNET_INSTALL_DIR" -NoPath'
  # add dotnet to PATH
  - ps: $env:Path = "$env:DOTNET_INSTALL_DIR;$env:Path"

build_script:
  - ps: .\scripts\show-dotnet-info.ps1
  # dotnet info
  - ps: dotnet --info
  # Run dotnet new 
  - ps: mkdir "test\test-dotnet-new" -Force | Push-Location
  - ps: dotnet new --lang f#
  - ps: dotnet restore
  - ps: dotnet --verbose build
  - ps: dotnet --verbose run a b
  - ps: Pop-Location
  # Run all tests 
  - ps: .\scripts\run-tests.ps1


test: off 
version: 0.0.1.{build}
